<!-- <p-button type="button" (click)="visibleSidebar1 = true" icon="pi pi-bars"></p-button>
<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000" [appendTo]="myBody">
    <ul>
        <li>
            <i class="pi pi-homes"></i>
            <a href="/regionWise" mdbWavesEffect>Home</a>
        </li>
        <li>
            <a href="#" mdbWavesEffect>Admin</a>
        </li>
    </ul>
</p-sidebar> -->


<!-- <div class="row" id="body-row">
    <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
        <ul class="list-group">
            <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                <small>MAIN MENU</small>
            </li>
            <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-dashboard fa-fw mr-3"></span>
                    <span class="menu-collapsed">Dashboard</span>
                    <span class="submenu-icon ml-auto"></span>
                </div>
            </a>
            <a href="#" data-toggle="sidebar-colapse" class="bg-dark list-group-item list-group-item-action d-flex align-items-center">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span id="collapse-icon" class="fa fa-2x mr-3"></span>
                    <span id="collapse-text" class="menu-collapsed">Collapse</span>
                </div>
            </a>
        </ul>
    </div>
</div> -->