<div class="col-sm-12 col-md-12 col-xl-12" style="margin-top: 10px;">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xl-4">
            <div class="card boxStyle">
                <div class="cardHeading">
                    Prior To Last Week:
                    <span class="numDigit">$ 2.892M</span>&nbsp;
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xl-4">
            <div class="card boxStyle">
                <div class="cardHeading">
                    Last Week:
                    <span class="numDigit">$ 8.102M</span>&nbsp;
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xl-4">
            <div class="card boxStyle">
                <div class="cardHeading">
                    Current Week:
                    <span class="numDigit">$ 5.682M</span>&nbsp;
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 col-sm-12 col-xl-12" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xl-6">
            <div class="card chartBox">
                <app-payment-compare></app-payment-compare>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xl-6">
            <div class="card chartBox">
                <app-overdues-clearence-compare></app-overdues-clearence-compare>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xl-6" style="margin-top: 15px;">
            <div class="card chartBox">
                <app-payment-rejection-compare></app-payment-rejection-compare>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xl-6" style="margin-top: 15px;">
            <div class="card chartBox">
                <app-invoice-submission-compare></app-invoice-submission-compare>
            </div>
        </div>
    </div>
</div>