<!-- <br> -->
<!-- <div class="col-sm-12 col-md-12 col-xl-12"> -->
<!-- <div class="col-sm-12 col-md-12 col-xl-12" style="padding: 0"> -->
<!-- <div class="progress">
            <div data-percentage="0%" style="width: 93.58%;" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div> -->
<!-- <div class="card">
            <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions" style="width: 100%; height: 65px; display: block;">
            </highcharts-chart>
        </div> -->
<!-- </div> -->
<!-- </div> -->

<div class="col-sm-12 col-md-12 col-xl-12">
    <div class="card boxStyle" style="padding: 0">
        <div class="row" style="margin: 0;">
            <div class="section" (click)="openp2p('APAC')">
                <label class="">
                    <img src="assets/images/Rectangle_6754.png" width="10" height="10">&nbsp;&nbsp;APAC</label>
                <div class="valSection">
                    <div>
                        <span class="numDigit apacVal">204</span>&nbsp;
                        <span class="valDigit">($80M)</span>
                    </div>
                    <div class="compVal">Completed: 197($70M)</div>
                    <div class="compVal">Pending: 04($05M)</div>
                    <div class="compVal">Not Completed: 03($05M)</div>
                </div>
            </div>
            <div class="section" (click)="openp2p('Egypt')">
                <label>
                    <img src="assets/images/Rectangle_6755.png" width="10" height="10">&nbsp;&nbsp;Egypt</label>
                <div class="valSection">
                    <div>
                        <span class="numDigit egyptVal">12</span>&nbsp;
                        <span class="valDigit">($40M)</span>
                    </div>
                    <div class="compVal">Completed: 11($35M)</div>
                    <div class="compVal">Pending: 01($05M)</div>
                    <div class="compVal">Not Completed: 00($00M)</div>
                </div>
            </div>
            <div class="section" (click)="openp2p('Europe')">
                <label>
                    <img src="assets/images/Rectangle_6756.png" width="10" height="10">&nbsp;&nbsp;Europe</label>
                <div class="valSection">
                    <div>
                        <span class="numDigit euroVal">284</span>&nbsp;
                        <span class="valDigit">($90M)</span>
                    </div>
                    <div class="compVal ">Completed: 283($89M)</div>
                    <div class="compVal">Pending: 01($01M)</div>
                    <div class="compVal">Not Completed: 00($00M)</div>
                </div>
            </div>
            <div class="section" (click)="openp2p('India')">
                <label>
                    <img src="assets/images/Rectangle_6757.png" width="10" height="10">&nbsp;&nbsp;India</label>
                <div class="valSection">
                    <div>
                        <span class="numDigit indVal">113</span>&nbsp;
                        <span class="valDigit">($60M)</span>
                    </div>
                    <div class="compVal">Completed: 113($60M)</div>
                    <div class="compVal">Pending: 00($00M)</div>
                    <div class="compVal">Not Completed: 00($00M)</div>
                </div>
            </div>
            <div class="section" (click)="openp2p('US & Canada')">
                <label>
                    <img src="assets/images/Rectangle_6758.png" width="10" height="10">&nbsp;&nbsp;US & Canada</label>
                <div class="valSection">
                    <div>
                        <span class="numDigit ucVal">122</span>&nbsp;
                        <span class="valDigit">($75M)</span>
                    </div>
                    <div class="compVal">Completed: 119($70M)</div>
                    <div class="compVal">Pending: 02($03M)</div>
                    <div class="compVal">Not Completed: 01($02M)</div>
                </div>
            </div>
            <div class="section" (click)="openp2p('SSA')">
                <label>
                    <img src="assets/images/Rectangle_6759.png" width="10" height="10">&nbsp;&nbsp;SSA</label>
                <div class="valSection">
                    <div>
                        <span class="numDigit ssaVal">41</span>&nbsp;
                        <span class="valDigit">($10M)</span>
                    </div>
                    <div class="compVal">Completed: 40($09M)</div>
                    <div class="compVal">Pending: 01($01M)</div>
                    <div class="compVal">Not Completed: 00($00M)</div>
                </div>
            </div>
            <div class="section" (click)="openp2p('US & Cincinati')">
                <label>
                    <img src="assets/images/Rectangle_6760.png" width="10" height="10">&nbsp;&nbsp;US & Cincinati</label>
                <div class="valSection last">
                    <div>
                        <span class="numDigit usVal">168</span>&nbsp;
                        <span class="valDigit">($80M)</span>
                    </div>
                    <div class="compVal">Completed: 168($80M)</div>
                    <div class="compVal">Pending: 00($00M)</div>
                    <div class="compVal">Not Completed: 00($M)</div>
                </div>
            </div>
        </div>
    </div>
</div>