<label class="componentHeading">Month-end Operational - </label>
<!-- <span class="totalKey">Total</span> -->
<span class="totalVal" (click)="allRegion()"> 994($435M)</span>
<br>
<span style="margin-left: 20px;">Sep'20</span>
<div class="col-sm-12 col-md-12 col-xl-12">
    <app-region-chart></app-region-chart>
</div>
<div class="col-sm-12 col-md-12 col-xl-12" style="height: 320px; padding: 0; margin: 0">

    <div class="map-container">
        <div class="map-frame">
            <div id="map"></div>
        </div>
    </div>
</div>
<app-region-card></app-region-card>